body {
    background: url(img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;  
    margin: 0;

    
}


#header_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header {
    background-color: rgba(137, 43, 226, 0.7);
    width: 70%;
    height: 100px;
    padding: 40px 0 0 0;
    border-radius: 0 0 10px 10px;
}

/* ajouter des box shadow quand je hover les lettres */

#title {
    color: white;
    font-size: 38px;
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.spacer {
  width: 8px;
}

.letter {
  transition: 200ms ease-out;
}

.letter:hover {
  color: hotpink;
}



#main_frame {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: -900px;
    animation: comeDown 1s ease-out forwards;
    opacity: 0;
}
@keyframes comeDown {
  100% {
    margin-top: 0;
    opacity: 1;
  }
  
}
#sliders {
    display: flex;
    flex-flow: column nowrap;

    align-items: center;

    background-color: rgba(137, 43, 226, 0.7);
    width: 50%;
    padding: 14px;
    border-radius: 0 0 10px 10px;

}


#instruments_frame {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 45%;
    height: 48px;
    background-color: rgba(137, 43, 226, 0.7);
    border-radius: 0 0 10px 10px;
}

.instruments {
    width: 32px;
    height: 32px;
    background-color: aliceblue;
}


/* CSS Portal : Style Input Range generator */

/* 

    background-image: url(alu_btn.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

*/    

#music_volume_slider {
  width: 35%;
}


input[type=range] {
    height: 37px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: transparent;
    }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 6px #CB13D1;
    background: #FEE3FF;
    border-radius: 10px;
    border: 0px solid #D426FF;
  }
  input[type=range]::-webkit-slider-thumb {
    background-image: url(alu_btn.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;    
    height: 30px;
    width: 32px;
    border-radius: 27px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px;
    transform: scale(0.75);
    transition: 200ms ease-in-out;
  }
  input[type=range]::-webkit-slider-thumb:hover {
    transform: scale(1);
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FEE3FF;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 6px #CB13D1;
    background: #FEE3FF;
    border-radius: 10px;
    border: 0px solid #D426FF;
  }
  input[type=range]::-moz-range-thumb {

    background-image: url(img/alu_btn.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    border-radius: 27px;
    cursor: pointer;
    transform: scale(0.75);
    transition: 200ms ease-in-out;

  }
  input[type=range]::-moz-range-thumb:hover {
    transform: scale(1);
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #FEE3FF;
    border: 0px solid #D426FF;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #CB13D1;
  }
  input[type=range]::-ms-fill-upper {
    background: #FEE3FF;
    border: 0px solid #D426FF;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #CB13D1;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;

    background-image: url(img/alu_btn.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 30px;
    width: 32px;
    border-radius: 27px;
    cursor: pointer;
    transform: scale(0.75);
    transition: 200ms ease-in-out;

  }
  input[type=range]::-ms-thumb:hover {
    transform: scale(1);
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #FEE3FF;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #FEE3FF;
  }
  